html, body{
    font-size: 14px;
}
.banner1{
    background-image: url("interface.jpg"); background-size: cover;
}

.form{
    border: 1px solid grey;
}

/* animations */
@keyframes cta {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    }

    70% {
        transform: scale(1.1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}
.ripple{animation: cta 1.5s infinite;}

.fs-14{
    font-size: 14px;
}

.footer{
    background-color: #131d23;
}